<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block title %}

Homepage

{% endblock %}

{% block leftnav %}

    <div class="right-nav">
        <hr>
        <h1> Categories : </h1><br>

            <div class="container">
                {% for cat in category %}

                    <h4><a href="{% url 'homepage:category' cat.categoryid %}" style="align-items: center;"><li>{{cat.categoryname}}</li></a></h4>

                {% endfor %}
            </div>


        <hr>
        <br><br>

        <ul>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            
        </ul>
    </div>


{% endblock %}


{% block rightnav %}

    <div class="right-nav">
        <hr>
        <h1> This comes from template betsu </h1>

        <br><br><br><br>

        <h1>test title</h1>

        <br><br><br>

        <ul>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            
        </ul>
    </div>

{% endblock %}


<div class="container">
{% block body %}

<br><br>
    <div class="container">
        <h1>ADD DISCOUNT : </h1> <br>

        <br>
        <form action = " {% url 'products:adddiscount' %}" enctype="multipart/form-data" method="POST">
            <div class="container sign-form">
                {% csrf_token %}
                
                {{ form|as_bootstrap  }}
            
                <!-- {{ user_profileform.as_p }} -->
                <input type="submit" class = 'btn btn-outline-secondary' name="submit" value="Search">
            </div>
        </form>
        <br>
        <div class="row">
            <div class="col-lg-5">
                <div class="jumbotron bg-dark text-white">
                    <h1 style="text-align: center;">NOT IN DISCOUNT</h1><br>
                    <table class="table table-dark">
                        <tr>
                            <th>PRODUCT NAME</th>
                            <th>RATE</th>
                        </tr>
                        {% for pdt in product %}
                            {% if pdt.discount == 0 %}
                                <tr>
                                    <td>{{pdt.productname}}</td>
                                    <td>{{pdt.unit_price}}</td>
                                    <td>
                                        <a href="{% url 'products:setdiscount' pdt.productid %}"><button title="Add Discount" class="btn btn-outline-secondary"> --> </button></a>
                                    </td>
                                </tr>
                            {%endif%}
                        {% endfor %}
                    </table>
                </div>
            </div>


            <div class="col-lg-2">
                <h3 style="text-align: center; margin-top: 100%;">--></h3>
            </div>


            <div class="col-lg-5">
                <div class="jumbotron bg-dark text-white">
                    <h1 style="text-align: center;">IN DISCOUNT</h1><br>
                    <table class="table table-dark">
                        <tr>
                            <th></th>
                            <th>PRODUCT NAME</th>
                            <th>RATE</th>
                        </tr>
                        {% for pdt in product %}
                            {% if pdt.discount > 0 %}
                                <tr>
                                    <td>
                                        <a href="{% url 'products:setdiscount' pdt.productid %}"><button title="Remove Discount" class="btn btn-outline-secondary"> <-- </button></a>
                                    </td>
                                    <td>{{pdt.productname}}</td>
                                    <td>{{pdt.unit_price}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>
    
        
{% endblock %}
</div>