<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block title %}

Product-Home

{% endblock %}

{% block body %}

    


<script>

    window.addEventListener("load", function(){

        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Your Order has been placed',
            showConfirmButton: false,
            timer: 3000
    });

    window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href="/"

    }, 3500);
});

    
</script>

{% endblock %}