    <div>
        <h1> <u> Last viewed :</u> </h1>
        <br>
        

            <div class="pdt-box-rightnav">
                <a href="{% url 'products:home' request.session.current_pdt_id  %}">
                <img class="thumbnail right-div-thumbnail" src={{request.session.current_pdt_pic}}>
                <div class="box-element product">
                    <h6><strong>Product : {{ request.session.current_pdt_name }}</strong></h6>
                    <hr></a>

            <a href="{% url 'products:addtocart' request.session.current_pdt_id %}"> <button  class="btn btn-outline-secondary add-btn">Add to Cart</button></a>
            <a class="btn btn-outline-success" href="{% url 'products:home' request.session.current_pdt_id %}">View</a>
            <h4 style="display: inline-block; float: right"><strong>₹{{request.session.current_pdt_price}}</strong></h4>
                </div>
            </div>
    </div>