<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block title %}

Product-Home

{% endblock %}

{% block leftnav %}

    <div class="left-nav">
        <hr>
        <h1> Categories : </h1><br>

            <div class="container">
                {% for cat in category %}

                    <h4><a href="{% url 'homepage:category' cat.categoryid %}" style="align-items: center;"><li>{{cat.categoryname}}</li></a></h4>

                {% endfor %}
            </div>


        <hr>
        <br><br>

        <ul>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            
        </ul>
    </div>
{% endblock %}


{% block rightnav %}

    <div class="right-nav">
        <hr>

        <div style="border: 2px solid black; padding:15px; margin: 0px 0px 0px 0px; margin-right: 10px; margin-left: -1px;">
            <h3> <u> ORDER SUMMARY : </u> </h3>
            <br>
            <h4>Total items : {{cart_count}}</h4> <br>
            <h4>Total cost : ₹ {{totalcost}}</h4><br><br>
            <a href="{% url 'orders:createorder' %}"><button class="btn btn-success" style="width: 100%;">Place Order</button></a>
        </div>
        

        <br><br><br><br>

        <h1>test title</h1>

        <br><br><br>

        <ul>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            
        </ul>
    </div>

{% endblock %}


<div class="container">
{% block body %}

        <br>
        <h1 id="top-section" style="align-items: center;"> Welcome , {{user.username}}!!</h1> 
        <br>
        <form action = " {% url 'homepage:home' %}" enctype="multipart/form-data" method="POST">
            <div class="container sign-form">
                {% csrf_token %}
                
                {{ form|as_bootstrap  }}
            
                <!-- {{ user_profileform.as_p }} -->
                <input type="submit" class = 'btn btn-outline-secondary' name="submit" value="Search">
            </div>
        </form>
        <br>

        <!--
            <form action="#" method="post">
                {% csrf_token %}
                <div class="container sub-nav-container" style="background: #d3d3d3; height:2.6%; border-radius: 15px 15px 15px 15px; text-align: center; " >
                    <div class="row center">
                            <div class="col-lg-3 bodynav" style="margin-top: 0.6%;">
                                <input class="form-control maniplulate-button" type="submit" value="sort_asc" name="manipulation_type">
                            </div>
                        
                        <div class="col-lg-3 bodynav" style="margin-top: 0.6%;">
                            <input class="form-control maniplulate-button" type="submit" value="sort_desc" name="manipulation_type">
                        </div>

                        <div class="col-lg-3 bodynav" style="margin-top: 0.6%;">
                            <input class="form-control maniplulate-button" type="submit" value="recent" name="manipulation_type">
                        </div>

                        <div class="col-lg-3 bodynav" style="margin-top: 0.6%;">
                            <input class="form-control maniplulate-button" type="submit" value="most popular" name="manipulation_type">
                        </div>
                    </div>
                </div>
            </form>
        <br><br><br>
        <hr>
        -->


        <div class="container" >

        

            {% if orderdetails %}

            <hr>
            <h2 style="text-align: center;" > <u> <i class="fas fa-shopping-cart"></i> CART </u> </h2>
            <br>
            {% for orderdetailspdt in orderdetails %}

                <div class="container" style="overflow: hidden; background: #faf9f9;">
                    <div class="row">
                        <div class="col-lg-7">
                            <h1 style=" text-align: left; margin-left: 10%; margin-top: 1%; text-transform: uppercase;">{{orderdetailspdt.product.productname}}</h1><br>
                            <a href="{% url 'products:home' orderdetailspdt.product.productid %}"><img class="product-display" src="{{ orderdetailspdt.product.picture.url }}" alt="error" style="width:70%; margin: 0% 0% 0% 10%;"></a>
                        </div>
                        <div class="col-lg-5" style="text-align: left; margin: 5% 0% 0% -5%;">
                            
                            <span>
                                <a href="{% url 'cart:updatecart' orderdetailspdt.orderdetailid %}"><button class="btn btn-warning fa fa-shopping-cart" style="width: 100%;"> EDIT QUANTITY </button></a>
                                <br> <br>
                                <a href="{% url 'cart:removefromcart' orderdetailspdt.orderdetailid  %}"><button class="btn btn-danger fas fa-cart-arrow-down" style="width: 100%;" onclick="return confirm('Are you sure?')"> REMOVE FROM CART </button></a>
                            </span>
                            <br><br>
                            
                            <b>productname :</b> <h1 style="text-transform: capitalize;">{{orderdetailspdt.product.productname}}</h1>
                            <br>
                            <b>Quantity:</b> <h1>{{orderdetailspdt.quantity}}</h1>                            
                            <b>product price :</b> <h1>₹{{orderdetailspdt.product.unit_price}}</h1>
                            <b>In stock :</b> <h1>{{orderdetailspdt.product.instock}}</h1>
                            <b>product desc :</b> <h1>{{orderdetailspdt.product.productdescription}}</h1>
                            <br><br>
                            <span>
                                <button class="fa fa-thumbs-up btn btn-success" style="margin : 5px;"> LIKE </button>
                                <button class="fas fa-share btn btn-warning" style="margin : 5px;"> Share </button>
                                <button class="fas fa-flag btn btn-danger" style="margin : 5px;"> REPORT </button>
                            </span>
                        </div>
                    </div>
                    
                    
                </div>
                <hr><br><br><br>

                {% endfor %}
                {% else %}

                <br>
                <h2 style="text-align: center;" > <u> <i class="fas fa-shopping-cart"></i> CART </u> </h2>
                <br>
                    <h1 style="text-align: center;">No Items in your cart !!</h1>
                    <b> <p style="text-align: center;"> Continue Shopping and add items in your cart ! </p></b><br>
                    <hr>
                    <br><br>
                {%endif%}
                <hr>
                <br>
                <div class="jumbotron" style="border: 2px solid black;">
                    <h2>ORDER SUMMARY : </h2>
                    <br>
                    <h4>TOTAL ITEMS : {{cart_count}}</h4>
                    <br>
                    <h4>TOTAL ITEMS : {{totalcost}}</h4>
                    <br>
                    <h5>Order is estimated to ship in 7 days from now!</h5>  
                </div>
                <hr>
                <br>
                <a href="{% url 'homepage:home' %}"><button class="btn btn-primary" style="width: 80%; margin: 0 10%;"> CONTINUE SHOPPING </button><br><br></a>
                <a href="{% url 'orders:createorder' %}"><button class="btn btn-success" style="width: 80%; margin: 0 10%;"> PLACE ORDER </button><br></a>
                <br>
                <br>
            
            
                <h1>SIMILAR PRODUCTS :</h1>
                <hr>

                <div class="row related-scroller">
            
                    {% for rpdt in related_items %}
                        <a href="{% url 'products:home' rpdt.productid %}">
                            <div class="col-lg-4 pdt-box">
                                <img class="thumbnail" src={{rpdt.picture.url}}>
                                <div class="box-element product">
                                    <h6><strong>Product : {{rpdt.productname}} - {{rpdt.created_at}}</strong></h6>
                                    <hr></a>
        
                                    <a href="{% url 'products:addtocart' rpdt.productid %}"><button  class="btn btn-outline-secondary add-btn">Add to Cart</button></a>
                                    <a class="btn btn-outline-success" href="{% url 'products:home' rpdt.productid %}">View</a>
                                    <h4 style="display: inline-block; float: right"><strong>₹{{rpdt.unit_price}}</strong></h4>
        
                                </div>
                            </div>
                        </a>
                        <br> 
                    {% endfor %}
                </div>
            <br>
            </div>
            <hr>
            


{% endblock %}
</div>



<!--

    buttons as form

    <form enctype="multipart/form-data" method="POST">
                                <div class="container sign-form">
                                    {% csrf_token %}
                                    <input class="form-control btn-warning " type="submit" value="EDIT QUANTITY" name="edit_quantity">
                                    <br>
                                    <input class="form-control btn-danger " type="submit" value="REMOVE FROM CART" name="REMOVE FROM CART">
                                </div>
                            </form>

-->