<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block title %}

Product-Home

{% endblock %}

{% block leftnav %}

    <div class="right-nav">
        <hr>
        <h1> Categories : </h1><br>

            <div class="container">
                {% for cat in category %}

                    <h4><a href="{% url 'homepage:category' cat.categoryid %}" style="align-items: center;"><li>{{cat.categoryname}}</li></a></h4>

                {% endfor %}
            </div>


        <hr>
        <br><br>

        <ul>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            <a href="#"><li>click here</li></a>
            
        </ul>
    </div>


{% endblock %}


{% block rightnav %}

    <div class="right-nav">
        <hr>
        <h1> This comes from template betsu </h1>

        <br><br><br><br>

        <h1>test title</h1>

        <br><br><br>

        <ul>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <li>click here</li>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            <a href=""><li>click here</li></a>
            
        </ul>
    </div>

{% endblock %}


<div class="container">
{% block body %}

        <br>
        <h1 id="top-section" style="align-items: center;"> Please change the cart , {{user.username}}!!</h1> 
        <br>
        <form action = " {% url 'homepage:home' %}" enctype="multipart/form-data" method="POST">
            <div class="container sign-form">
                {% csrf_token %}
                
                {{ form|as_bootstrap  }}
            
                <!-- {{ user_profileform.as_p }} -->
                <input type="submit" class = 'btn btn-outline-secondary' name="submit" value="Search">
            </div>
        </form>
        <br>

        <div class="container" >

        <br>

        <div class="row">
            <div style ="background-color: #f7f4f4;"  class="col-lg-5">
                <img class="pdt-box " style="width: 100%; height : 80%; margin: 10% 0%; border-radius: 30px;" src="{{currentorderdetail.product.picture.url}}" alt="error loading image">
            </div>
            <div class="col-lg-6">
                <div style="height: 30%; margin : 30% 0%">
                    <div class="orderupdateform" style="border: 2px solid black; margin: 5px; padding: 30px;">
                        {% if orderdetailupdateform.errors %}
                            {% for field in orderdetailupdateform %}
                                {% for error in field.errors %} 
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        <form enctype="multipart/form-data" method="POST" onSubmit="return validateForm()">
                            <div class="container sign-form">
                                {% csrf_token %}
                                
                                {{ orderdetailupdateform|as_bootstrap  }}
                            
                                <!-- {{ user_profileform.as_p }} -->
                                <input type="submit" class = 'btn btn-warning' name="submit" value="UPDATE" onclick="return confirm (' Are you sure ? ') ">
                                <button class = 'btn btn-primary' name="go to cart"> Cancel </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <br>

            <hr>

                <br>
            
            
                <h1>SIMILAR PRODUCTS :</h1>
                <hr>

                <div class="row related-scroller">
            
                    {% for rpdt in related_items %}
                        <a href="{% url 'products:home' rpdt.productid %}">
                            <div class="col-lg-4 pdt-box">
                                <img class="thumbnail" src={{rpdt.picture.url}}>
                                <div class="box-element product">
                                    <h6><strong>Product : {{rpdt.productname}} - {{rpdt.created_at}}</strong></h6>
                                    <hr>
        
                                    <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                                    <a class="btn btn-outline-success" href="#">View</a>
                                    <h4 style="display: inline-block; float: right"><strong>₹{{rpdt.unit_price}}</strong></h4>
        
                                </div>
                            </div>
                        </a>
                        <br> 
                        <br><br>
                    {% endfor %}
                </div>
            <br>
            </div>
            <hr>

            <br><br>



            <script>
                function checkform(){
                    var quantity= document.getElementById("id_quantity").value;

                    if(quantity=== '' || quantity < 1) {
                        alert("Quantity should be greater or equal to 1");
                        return false;
                    }
                    return true;
                }
            </script>
            


{% endblock %}
</div>



<!--

    buttons as form

    <form enctype="multipart/form-data" method="POST">
                                <div class="container sign-form">
                                    {% csrf_token %}
                                    <input class="form-control btn-warning " type="submit" value="EDIT QUANTITY" name="edit_quantity">
                                    <br>
                                    <input class="form-control btn-danger " type="submit" value="REMOVE FROM CART" name="REMOVE FROM CART">
                                </div>
                            </form>

-->