<div class="row">
    <div class="container" style="color: white; text-align: center;">
        <br><br>
        <a href="#top-section"><button class="btn btn-light" style="border: 0.5px solid #ffbb33;"> MOVE TO TOP </button></a>
        <br><br>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row" style="color: white; margin:10px">
        
        
            <div class="col-lg-3">
                <div class="container">
                    <a href="#"><h1 class="bottom-font">Get to Know us</h1></a><br>
                    <a href="#"><h4 class="bottom-font">Careers</h4><br></a>
                    <a href="#"><h4 class="bottom-font">About Shoppingオンライン</h4><br></a>
                    <a href="#"><h4 class="bottom-font">Global Community</h4><br></a>
                </div>
                
            </div>

            <div class="col-lg-3">
                <div class="container">
                    <h1 class="bottom-font">Get to Know us</h1><br>
                    <h4 class="bottom-font">Careers</h4><br>
                    <h4 class="bottom-font"> About Shoppingオンライン</h4><br>
                    <h4 class="bottom-font">Global Community</h4><br>
                </div>
                
            </div>

            <div class="col-lg-3">
                <div class="container">
                    <h1 class="bottom-font">Get to Know us</h1><br>
                    <h4 class="bottom-font">Careers</h4><br>
                    <h4 class="bottom-font">About Shoppingオンライン</h4><br>
                    <h4 class="bottom-font">Global Community</h4><br>
                </div>
                
            </div>

            <div class="col-lg-3">
                <div class="container">
                    <h1 class="bottom-font">Get to Know us</h1><br>
                    <h4 class="bottom-font">Careers</h4><br>
                    <h4 class="bottom-font">About Shoppingオンライン</h4><br>
                    <h4 class="bottom-font">Global Community</h4><br>
                </div>
                
            </div>

    </div>
    <hr>

    <br><br>
        <a href="{% url 'homepage:home' %}" style="text-decoration: none;"><h1 class="end-logo" style="text-align: center; color: white;">SHOPPINGオンライン</h1></a>
    <br><br>
    <hr>
    <br><br>
</div>

