<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

Homepage

{% endblock %}

{% block leftnav %}

<hr>
<h1> Categories : </h1>

    <div class="container">
        {% for cat in category %}

            <h4><a href="#" style="align-items: center;"><li>{{cat.categoryname}}</li></a></h4>
        {% endfor %}
    </div>


<hr>
<br><br>

<ul>
    <a href="#"><li>click here</li></a>
    <a href="#"><li>click here</li></a>
    <a href="#"><li>click here</li></a>
    <a href="#"><li>click here</li></a>
    <a href="#"><li>click here</li></a>
    <a href="#"><li>click here</li></a>
    <li>click here</li>
    <li>click here</li>
    <li>click here</li>
    <li>click here</li>
    <li>click here</li>
    <li>click here</li>
    <li>click here</li>
    <a href="#"><li>click here</li></a>
    <a href="#"><li>click here</li></a>
    <a href="#"><li>click here</li></a>
    <a href="#"><li>click here</li></a>
    <a href="#"><li>click here</li></a>
    <a href="#"><li>click here</li></a>
    <a href="#"><li>click here</li></a>
    
</ul>

{% endblock %}


{% block rightnav %}


<h1> This comes from template betsu </h1>

<br><br><br><br>

<h1>test title</h1>

<br><br><br>

<ul>
    <a href=""><li>click here</li></a>
    <a href=""><li>click here</li></a>
    <a href=""><li>click here</li></a>
    <a href=""><li>click here</li></a>
    <a href=""><li>click here</li></a>
    <a href=""><li>click here</li></a>
    <li>click here</li>
    <li>click here</li>
    <li>click here</li>
    <li>click here</li>
    <li>click here</li>
    <li>click here</li>
    <li>click here</li>
    <a href=""><li>click here</li></a>
    <a href=""><li>click here</li></a>
    <a href=""><li>click here</li></a>
    <a href=""><li>click here</li></a>
    <a href=""><li>click here</li></a>
    <a href=""><li>click here</li></a>
    <a href=""><li>click here</li></a>
    
</ul>

{% endblock %}


<div class="container">
{% block body %}

        <br>
        <h1 style="align-items: center;"> Welcome , Please signin to continue!!</h1> 
        <br>
        <form action="#">
            {% csrf_token %}
            <div class="container sub-nav-container" style="background: #d3d3d3; height:2.6%; border-radius: 15px 15px 15px 15px; text-align: center; " >
                <div class="row center">
                        <div class="col-lg-3 bodynav" style="margin-top: 1.5%;">
                            <input class="form-control maniplulate-button" type="button" value="sort_Asc" name="manipulation_type" onclick="myfunction()">
                        </div>
                    
                    <div class="col-lg-3 bodynav" style="margin-top: 1.5%;">
                        <input class="form-control maniplulate-button" type="button" value="sort_desc" name="manipulation_type" onclick="myfunction()">
                    </div>

                    <div class="col-lg-3 bodynav" style="margin-top: 1.5%;">
                        <input class="form-control maniplulate-button" type="button" value="recent" name="manipulation_type" onclick="myfunction()">
                    </div>

                    <div class="col-lg-3 bodynav" style="margin-top: 1.5%%;">
                        <input class="form-control maniplulate-button" type="button" value="most popular" name="manipulation_type" onclick="myfunction()">
                    </div>
                </div>
            </div>
        </form>

        <br><br><br>
        <hr>

        <div class="row">
            
            {% for pdt in product %}
                <div class="col-lg-4 pdt-box">
                    <img class="thumbnail" src={{pdt.picture.url}}>
                    <div class="box-element product">
                        <h6><strong>Product : {{pdt.productname}}</strong></h6>
                        <hr>

                        <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                        <a class="btn btn-outline-success" href="#">View</a>
                        <h4 style="display: inline-block; float: right"><strong>₹{{pdt.unit_price}}</strong></h4>

                    </div>
                </div>
                <br> 
                <br><br><br><br>
            {% endfor %}
        </div>

        <script>
            function myfunction(){
                alert('Please signin to continue !');
            }
        </script>

{% endblock %}
</div>