<!DOCTYPE html>
{% extends "base2.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block title %}

Signup

{% endblock %}

{% block body %}
    <br><br>
    <div class="container">
        <br>
        {% if registered %}
            <h1>Thankyou for REGISTERING with us</h1>
            <br>
		<a href="{% url 'homepage:home' %}"> click here to continue </a>

        {% else %}
            <h3>PLEASE fill the registration form below</h3>
            <br>
            <!-- user the enctype attribute because we are uploading images  -->
            <form enctype="multipart/form-data" method="POST">
                <div class="container sign-form">
                    {% csrf_token %}
                    
                    <h4>

                    <u>Account Information : </u>

                    <br><br>

                    {{ user_form |as_bootstrap  }}
                    
                    <br>
                    <hr>
                    <br>
                    <u><h4>Personal Information :</h4></u>
                    <br>

                    {{ user_profileform |as_bootstrap  }}
                    </h4>

                    <br><br><br>

                    <!-- {{ user_profileform.as_p }} -->
                    <input type="submit" class = "btn btn-primary" name="submit" value="Sign Up" style="margin: 0% 15%; width: 70%">
                </div>
            </form>
        {% endif %}
    </div>
    <br><br><br><br>


{% endblock %}
