{% extends 'base2.html' %}
{% block title %} Login Page {% endblock %}

{% block body%}

    {% if successmessage %}
        <br>
            <div class="container" style="text-align: center;">
                <h4 style="color: rgb(2, 218, 2); margin-left: 2em;">{{successmessage}}</h4>
            </div>
        <br>
    {% endif %}

    <br><br>
    <div class="container">
        <h1 style="text-align: center;">Fill in your credentials</h1>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-1">

                </div>



                <div class="col-lg-10">
                    <div class="jumbotron fj">
                        <h2>Please sign in :</h2>
                        <br>
                        <form action="{% url  'registration:signin' %}" method="POST">
        
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-md-2">
                                    <h3><label for="username"> UserName </label></h3>
                                </div>

                                <div class="col-md-0">

                                </div>

                                <div class="col-md-8">
                                    <h3><input type="text" name = "username" placeholder="Enter the Username " required = "true" ></h3>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-md-2">
                                    <h3><label for="password"> Password </label></h3>
                                </div>

                                <div class="col-md-0">

                                </div>

                                <div class="col-md-8">
                                    <h3><input type="password" name = "password" placeholder="enter the password " required = "true"  ></h3>
                                </div>
                            </div>
                            
                            <br>
        
                            <input class="btn btn-primary" type="submit" value="sign in"> 
                            <a href="{% url 'registration:change_password1' %}"><input type="button" class=" btn btn-warning " value="Forgot Password"></a>
                            <a href="{% url 'registration:signup' %}" style = "margin-left : 15px; font-size : 20px;"> New User ? </a>
                        
                        </form>
                    </div>
                </div>



                <div class="col-lg-1">
                    
                </div>
            </div>            
        </div>
    </div>

{% endblock %}
